.sources {
    position: sticky;
    top: 50px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    flex: 18%;
    width: 100%;
    overflow-y: scroll;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
}

.source__item {
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.3s;
    cursor: pointer;
    width: 90%;
    text-align: center;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
}

.sources::-webkit-scrollbar {
    width: 20px;
}
  
.sources::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}
  
.sources::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 6px solid transparent;
    background-clip: content-box;
    background-color: #30c5ff;
}

@media (max-width: 1320px) {
    .sources {
        flex: 25%;
}
}

@media (max-width: 640px) {
    .sources {
        position: static;
        height: 100px;
        display: flex;
        flex-direction: row;
        overflow:auto;
    }
    
    .source__item-name {
        white-space: nowrap;
    }
}
